
body{
    height: 100vh;
    display: flex;
    align-items: center;
}

#container{
    outline: 2px solid black;
    height: 640px;
    width: 640px;
    font-size: 0;
    padding: 0;
    margin: auto;
    border: none;
}

.grid{
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}